@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    background-image: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      #fff 50%
    );
    background-size: 250%;
    transition: all 0.4s ease;
  }

  .link:hover,
  .link:active {
    background-position: 100%;
    color: #ff7f50;
    transform: translateX(1rem);
  }

  .paginateLink {
    @apply border border-solid border-gray-700 py-1 px-3 sm:py-0 sm:px-2 hover:bg-primary hover:border-primary hover:text-white transition duration-500 ease-in-out;
  }

  .btn {
    @apply rounded uppercase bg-primary py-2 px-5 md:px-5 md:text-sm hover:bg-primary-dark focus:ring  focus:ring-primary focus:ring-offset-2 focus:ring-opacity-50  sm:text-xs text-white inline-block transition duration-500 ease-in-out;
  }
}

@layer utilities {
  .square {
    aspect-ratio: 1 / 1;
  }
}
